body{
    background-image: url("pattern-background-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:hsl(225, 100%, 94%);
    

}
div {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    width: 450px;
    margin: 5% 33% 33%;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 0 0 10px;
    box-shadow: 0px 20px 20px 0px hsl(224deg 23% 80%);
    }
#hero{
    border-radius: 20px 20px 0 0; 
}
div h1 {
    font-size: 30px;
    font-weight: bolder;
    color: hsl(223, 47%, 23%);
    margin: 30px;
}
div p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    padding: 0 50px;
    line-height: 1.6;
}
#musicIcon{
    padding: 0 0 0 70px;
    margin: 20px 0 0;
    position: absolute;
    left: 0px;   
}
h2{
    font-weight: bolder;
    color: hsl(223, 47%, 23%);
    margin: 20px 0 0 0;
    display: inline-block;
    position: relative;
    left: -50px;
    line-height: 1.6;   
}
section p{
    position: relative;
    left: -50px;   
    line-height: 1.6;

}
#change{
    position: relative;
    left: 270px;
    top: -40px;
    color: hsl(245, 75%, 52%);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    width: fit-content;
}
#change:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%) ;
    

}
div button{
    font-weight: bolder;
    font-family: 'Red Hat Display', sans-serif;
    display: block;
    margin: 15px auto;
    width: 320px;
    height: 40px;
    border-radius:10px;
    border: none;
}
#button1{
    color: white;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 5px 16px 0px hsl(224deg 23% 70%);
    cursor: pointer;
    transition-duration: 500ms;
}
#button1:hover{
    background-color: hsl(224, 23%, 55%);
}

#button2{
    color: hsl(224, 23%, 55%);
    background-color: white;
    cursor: pointer;
    transition-duration: 500ms;
}

#button2:hover {
    color: hsl(223, 47%, 23%);
    font-weight: bolder;
}
@media screen and (max-width: 480px) {
    body{
        background-size: auto;
        margin: 33%;
    }

}